{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}

    <div class="container">
        <h1>Voir tous nos biens</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at augue pellentesque, molestie felis eget,
            semper eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Integer id lectus risus. Sed egestas enim ex, ut vehicula turpis tincidunt ac.
            Aliquam pretium blandit nibh, sit amet tincidunt nisl varius ac. Donec vestibulum sed erat sed sagittis.
            Fusce molestie odio id quam eleifend sodales.
        </p>
    </div>



{% endblock  %}
